html,
body {
  margin: 0;
  background: url('https://www.solidbackgrounds.com/images/3840x2160/3840x2160-french-sky-blue-solid-color-background.jpg');
}

.appBar {
  padding: 25px;
  margin: 15px;
  background-color: mediumseagreen;
  color: rgb(162, 77, 231);
  font-size: 36px;
  box-shadow: aliceblue;
  text-shadow: 2px 2px black;
  text-align: center;
  border: solid black;
  background: url('https://wallpapercave.com/wp/X49EwD0.jpg');
}

.container {
  padding: 20px;
  margin: 15px auto;
  border: solid;
  width: 600px;
  max-width: 100%;
  background: url('https://papers.co/wallpaper/papers.co-vo19-samsung-galaxy-7-edge-green-abstract-pattern-23-wallpaper.jpg');
}

.btn {
  margin: 10px 0;
}

.employeeTable td {
  padding: 6px 10px;
  border: 1px solid black;
  font-weight: bold;
  background: rgb(3, 175, 206);
}

.employeeTable {
  border-collapse: collapse;
  border: solid;
}

.isSelected > * {
  background-color: rgba(236, 8, 8, 0.11);
}

.foot {
  border: solid;
}
