html,
body {
  margin: 0;
}

.appBar {
  padding: 25px;
  background-color: mediumseagreen;
  color: white;
}

.container {
  padding: 20px;
}

.btn {
  margin: 10px 0;
}

.employeeTable td {
  padding: 6px 10px;
  border: 1px solid black;
}

.employeeTable {
  border-collapse: collapse;
}

.isSelected > * {
  background-color: rgba(236, 8, 8, 0.11);
}
